# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local development files
*.env
*.log
*.db

# IDE files (for example, if you use PyCharm)
.idea/

# Compiled Python files
*.pyc

# Virtual environment
venv/
env/

# Flask migration files (if using Flask-Migrate)
/migrations/

# User-specific Python environment files
.pyenv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment-specific settings
.env

# Visual Studio Code (VSCode) settings (optional)
.vscode/

# Mac OS system files (if you develop on macOS)
.DS_Store

# Windows thumbnail cache files (if you develop on Windows)
Thumbs.db
